---
import '../styles/global.css';
const pageTitle = 'Krigs';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>

  <body class="bg-gradient-dynamic animate-gradient-bg">
    <div class="flex min-h-dvh flex-wrap items-center justify-center p-10">
      <h1 class="k-transition text-center text-2xl font-medium lg:text-3xl">
        A web dev from Liverpool, UK.
      </h1>
    </div>
  </body>
</html>
