---
import "../styles/global.css";
const pageTitle = "Krigs";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>

    <body class="bg-gradient-dynamic animate-gradient-bg">
        <div
            class="fixed top-4 mx-auto md:top-8 md:left-8 lg:top-10 lg:left-10 k-transition"
        >
            <svg
                class="text-zinc-300"
                width="86"
                height="32"
                viewBox="0 0 86 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M10.4448 23.9855L6.42315 17.4756V23.9855H0V2.57505H6.42315V13.7722L10.5027 7.66727H17.9674L11.8626 15.8843L18.1121 23.9855H10.4448Z"
                    fill="currentColor"></path>
                <path
                    d="M25.9756 10.6763C26.6314 9.73116 27.4319 8.9789 28.377 8.41953C29.3222 7.84087 30.3059 7.55154 31.3282 7.55154V14.4087H29.5054C28.2902 14.4087 27.3933 14.6209 26.8146 15.0452C26.2553 15.4696 25.9756 16.2218 25.9756 17.302V23.9855H19.5524V7.66727H25.9756V10.6763Z"
                    fill="currentColor"></path>
                <path
                    d="M36.2988 6.36528C35.1801 6.36528 34.2831 6.06631 33.608 5.46835C32.9329 4.8704 32.5954 4.11814 32.5954 3.21157C32.5954 2.28571 32.9329 1.52381 33.608 0.925859C34.2831 0.30862 35.1801 0 36.2988 0C37.3983 0 38.2856 0.30862 38.9607 0.925859C39.6358 1.52381 39.9733 2.28571 39.9733 3.21157C39.9733 4.11814 39.6358 4.8704 38.9607 5.46835C38.2856 6.06631 37.3983 6.36528 36.2988 6.36528ZM39.4815 7.66727V23.9855H33.0583V7.66727H39.4815Z"
                    fill="currentColor"></path>
                <path
                    d="M48.2559 7.46474C49.3168 7.46474 50.233 7.68656 51.0045 8.1302C51.7761 8.55455 52.3644 9.14286 52.7694 9.89512V7.66727H59.1636V23.6962C59.1636 25.22 58.884 26.6088 58.3246 27.8626C57.7652 29.1163 56.8586 30.1193 55.6049 30.8716C54.3704 31.6239 52.7791 32 50.8309 32C48.2076 32 46.1245 31.3828 44.5814 30.1483C43.0576 28.9331 42.1896 27.2743 41.9774 25.1718H48.2848C48.4584 26.0205 49.1528 26.4448 50.368 26.4448C51.1202 26.4448 51.7086 26.252 52.1329 25.8662C52.5573 25.4804 52.7694 24.7571 52.7694 23.6962V21.7577C52.3644 22.5099 51.7761 23.1079 51.0045 23.5515C50.233 23.9759 49.3168 24.1881 48.2559 24.1881C46.9828 24.1881 45.8351 23.8602 44.8128 23.2043C43.7905 22.5292 42.9804 21.5648 42.3825 20.311C41.8038 19.038 41.5145 17.5431 41.5145 15.8264C41.5145 14.1097 41.8038 12.6245 42.3825 11.3707C42.9804 10.0976 43.7905 9.13321 44.8128 8.4774C45.8351 7.80229 46.9828 7.46474 48.2559 7.46474ZM52.7694 15.8264C52.7694 14.9584 52.5476 14.2833 52.104 13.8011C51.6603 13.3189 51.0913 13.0778 50.3969 13.0778C49.7025 13.0778 49.1335 13.3189 48.6899 13.8011C48.2462 14.2833 48.0244 14.9584 48.0244 15.8264C48.0244 16.6944 48.2462 17.3695 48.6899 17.8517C49.1335 18.3339 49.7025 18.575 50.3969 18.575C51.0913 18.575 51.6603 18.3339 52.104 17.8517C52.5476 17.3695 52.7694 16.6944 52.7694 15.8264Z"
                    fill="currentColor"></path>
                <path
                    d="M69.3101 24.1881C67.767 24.1881 66.3975 23.9373 65.2016 23.4358C64.025 22.9343 63.0895 22.2399 62.3951 21.3526C61.7007 20.4653 61.3053 19.4623 61.2089 18.3436H67.3716C67.4488 18.8258 67.6513 19.1826 67.9792 19.4141C68.3264 19.6456 68.7604 19.7613 69.2812 19.7613C69.6091 19.7613 69.8695 19.6938 70.0624 19.5588C70.2553 19.4045 70.3517 19.2212 70.3517 19.009C70.3517 18.6426 70.1492 18.3822 69.7441 18.2278C69.339 18.0735 68.6543 17.8999 67.6899 17.7071C66.5133 17.4756 65.5392 17.2248 64.7676 16.9548C64.0154 16.6848 63.3499 16.2218 62.7712 15.566C62.2119 14.9102 61.9322 14.0036 61.9322 12.8463C61.9322 11.8433 62.1926 10.9367 62.7134 10.1266C63.2535 9.29717 64.0443 8.651 65.0859 8.18807C66.1275 7.70585 67.3909 7.46474 68.8761 7.46474C71.075 7.46474 72.7917 8.00482 74.0262 9.08499C75.28 10.1652 76.0322 11.5732 76.283 13.3092H70.5832C70.4867 12.8656 70.2842 12.528 69.9756 12.2966C69.667 12.0458 69.2522 11.9204 68.7315 11.9204C68.4035 11.9204 68.1528 11.9879 67.9792 12.123C67.8056 12.2387 67.7188 12.4219 67.7188 12.6727C67.7188 13.0006 67.9213 13.2514 68.3264 13.425C68.7315 13.5793 69.3776 13.7432 70.2649 13.9168C71.4415 14.1483 72.4349 14.4087 73.245 14.698C74.0551 14.9873 74.7592 15.4888 75.3571 16.2025C75.9551 16.8969 76.2541 17.8614 76.2541 19.0958C76.2541 20.0603 75.9744 20.9283 75.415 21.6998C74.8556 22.4714 74.0455 23.079 72.9846 23.5226C71.943 23.9662 70.7182 24.1881 69.3101 24.1881Z"
                    fill="currentColor"></path>
                <path
                    d="M81.9857 24.217C80.867 24.217 79.9701 23.918 79.295 23.3201C78.6199 22.7221 78.2823 21.9699 78.2823 21.0633C78.2823 20.1374 78.6199 19.3755 79.295 18.7776C79.9701 18.1603 80.867 17.8517 81.9857 17.8517C83.0852 17.8517 83.9725 18.1603 84.6476 18.7776C85.3227 19.3755 85.6603 20.1374 85.6603 21.0633C85.6603 21.9699 85.3227 22.7221 84.6476 23.3201C83.9725 23.918 83.0852 24.217 81.9857 24.217Z"
                    fill="currentColor"></path>
            </svg>
        </div>
        <div class="flex min-h-dvh flex-wrap items-center justify-center p-10">
            <h1
                class="k-transition text-center text-2xl font-medium lg:text-3xl"
            >
                A web dev from Liverpool, UK.
            </h1>
        </div>
    </body>
</html>
